/* THEME DARK */
body.dark-theme {
  background-color: #ddd;
}
body.dark-theme header {
  background-color: var(--dark);
}

body.dark-theme .formulario input[type="submit"],
body.dark-theme .formulario button,
body.dark-theme .formulario .campo a {
  background-color: var(--dark);
}

body.dark-theme .formulario input[type="submit"]:hover,
body.dark-theme .formulario button:hover,
body.dark-theme .formulario .campo a:hover {
  background-color: #222;
}

body.dark-theme .contenido-presupuesto span {
  color: var(--dark);
}

body.dark-theme .reset-app {
  background-color: #a70950;
}
body.dark-theme .reset-app:hover {
  background-color: #5c050c;
}
