/* THEME DARK */
body.dark-theme header {
  background-color: #444;
}

body.dark-theme .formulario input[type="submit"],
body.dark-theme .formulario button,
body.dark-theme .formulario .campo a {
  background-color: #333;
}

body.dark-theme .formulario input[type="submit"]:hover,
body.dark-theme .formulario button:hover,
body.dark-theme .formulario .campo a:hover {
  background-color: #222;
}

body.dark-theme .contenido-presupuesto span {
  color: #444;
}

body.dark-theme .reset-app {
  background-color: #a70950;
}
body.dark-theme .reset-app:hover {
  background-color: #5c050c;
}
